.button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $c-lillydoo;
    border: 0 solid $c-light-lillydoo;
    //border-color: $c-light-lillydoo;
    //border-style: solid;
    //border-width: 0;
    cursor: pointer;
    font-family: cerapro-medium, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    //line-height: normal;
    //margin: 0 0 2rem;
    //position: relative;
    text-align: center;
    //text-decoration: none;
    display: inline-block;
    //padding: 1.6rem 3.2rem 1.7rem 3.2rem;
    padding: 0 20px;
    font-size: 1.063rem;
    height: 45px;
    min-width: 16rem;
    line-height: 2.8;
    //font-size: 1.6rem;
    color: #fff;
    width: 100%;
    transition: background-color .3s ease-out;

    &:hover {
        background-color: $c-light-lillydoo;
    }

    &:focus {
        outline: none;
    }
}

.option-trial-kit {
    background-color: $c-white;
    border: 1px solid #7c7c7c;
    text-align: center;
    padding: 7px 5px 5px 5px;
    color: #7c7c7c;
    margin-right: 10px;
    transition: background-color .15s ease-out;
    flex: 1 1 0;
    margin-bottom: 10px;

    &--active {
        background-color: $c-lillydoo;
        border: 1px solid $c-lillydoo;
        color: #fff;
    }

    &:hover {
        background-color: $c-lillydoo;
        cursor: pointer;
        border: 1px solid $c-lillydoo;
        color: #fff;
    }

    &__index {
        font-size: 1.3rem;
        line-height: 1;
        margin: 0;
    }

    &__description {
        font-size: .8rem;
    }
}

a {
    text-decoration: none;
    color: $c-lillydoo;
    &:visited {
        color: $c-lillydoo;
    }
    &:hover {
        color: $c-dark-lillydoo;
    }
    &:active {
        color: $c-lillydoo;
    }
}

