.section-container {
    padding: 2rem .938rem 2rem .938rem;
    margin: 0 auto;
    max-width: 80rem;

    h2 {
        font-size: 1.688rem;
    }
}

.product-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include media-query($small, max) {
        flex-direction: column;
    }

    &__content {
        flex: 1 1 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}
