// Colors
$c-lillydoo: #00afab;
$c-dark-lillydoo: #009793;
$c-light-lillydoo: #99dfdd;
$c-white: #fff;
$c-gray: #f8f8f8;
$c-black: #000;

// Typo
$base-font: 14px;

// Gaps
$gap: 8px;

// Breakpoint
$small: 720px;
