body {
    background: #fff;
    color: #000;
    cursor: auto;
    font-family: cera_proregular, Helvetica, Roboto, Arial, sans-serif; // TODO: check out the font
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

h1 {
    font-family: Museo-300, Helvetica, Roboto, Arial, sans-serif;
    font-size: 2.625rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 1rem;
}

.section-container {
    padding: 2rem 0 2rem 0;
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
}

.section {
    padding: 1.25rem 0;
    &__header {
        padding: 2rem 0 2rem 0;
        margin: 0 auto;
        max-width: 80rem;
        width: 100%;
    }
}

.oekotex-logo {
    top: 10%;
    left: 9%;
    width: 27%;
    position: absolute;
}

.product-intro-background {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 42rem;
    justify-content: flex-end;
    background-image: url(~@/assets/header-trialbox-desktop.jpg);
}

.info-overlay {
    padding: 2.5rem 2.5rem 1.5rem 2.5rem;
    width: 31.25rem;
    margin-right: 4rem;
    align-self: center;
    justify-self: right;
}
