@font-face {
    font-family: museo-300;
    src: url('~@/assets/fonts/museo-300-webfont.woff') format('woff');
}

@font-face {
    font-family: cerapro-medium;
    src: url('~@/assets/fonts/cerapro-medium.woff') format('woff');
}

@font-face {
    font-family: cerapro-regular;
    src: url('~@/assets/fonts/cerapro-regular.woff') format('woff');
}
