html {
    font-size: 100%;
}

body {
    background: $c-white;
    color: $c-black;
    font-family: cerapro-regular,Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cerapro-regular,Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-rendering: optimizeLegibility;
    margin: 0;
}

h1 {
    font-family: Museo-300,Helvetica,Roboto,Arial,sans-serif;
    font-size: 2.625rem;
    line-height: 1.1;
    text-transform: none;
}

h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 0
}

ul {
    padding: 0;
    margin-left: 1.2rem;
}
