html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Reset html tag browser defaults
p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 1.688rem;
  line-height: 1.2;
  text-transform: none;
}

h3,h4,h5,h6 {
  text-transform: uppercase;
  letter-spacing: 0
}
