.uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-col {
    flex-direction: column;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.justify-content-end {
    justify-content: flex-end;
}

.text-align-center {
    text-align: center;
}

.padding-top-3 {
    padding-top: 24px;
}
