.uppercase {
  text-transform: uppercase;
}

.flex{
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.flex-grow-1 {
    flex-grow: 1;
}
